


/* HTML */
html {
	font-size: 16px;
}
body {
  	margin: 0;
 	font-family:  'Roboto', 'Arial', sans-serif;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	background-color: rgb(14,16,19);
	color: white;
}
code {
  	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media (min-width: 1600px) {
  body {
	  	margin-right: 15%;
	  	margin-left: 15%;
	}
}
/* HTML */


/* GRID SYSTEM */
.hz-container {
	margin-left: 10%;
	margin-right: 10%;
}

.hz-row {
  	display: flex;
}

.hz-row-unresponsive {
	display: flex;
}

.hz-column {
  	flex: 50%;
}
.hz-column-fit {
  	width: fit-content;
  	margin: 0;
  	padding: 0;
}
.hz-column-fit-height {
  	height: fit-content;
  	flex: 50%;
}

/* If screen width is less than 600px */
@media (max-width: 770px) {
	.hz-container {
		margin-left: 10px;
		margin-right: 10px;
	}
  	.hz-row {
  		display: flex;
        flex-direction: column;
	}
}

@media (max-width: 330px) {
	html {
		font-size: 14px;
	}
}
/* GRID SYSTEM */




/* NAV */
.hz-navbar-view{
	width: 100%;
	position: fixed;
	background-color: black;
	height: 35px;
}
.hz-navbar {   
  height: 48px;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  overflow: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
.hz-navbar-collapse {
	font-size: 1.0625rem;  
	display: flex;
	position: relative; 
	width: 100%;
	margin-top: 10%;
 }
.hz-navbar-list {
	display: flex;
    flex-direction: column;
}
.hz-navbar-logo {
	position: relative;
	top: 3px;
	height: 20px;
	width: 20px;
	padding-right: 10px;
	transition: 0.5s;
}
.hz-navbar-logo-topped {
	position: relative;
	top: 3px;
	height: 25px;
	width: 25px;
	padding-right: 10px;
	transition: 0.5s;
}
.hz-navbar-item-title {
	font-family: 'Inter', sans-serif;
	font-weight: bolder;
}
.hz-navbar-brand {
	font-size: 1.25rem;
	color: rgb(230, 240, 255);
	background-color: transparent;
	position: fixed; /* Stay in place */
	margin-top: 11px;
	left: 25px;
	z-index: 2;
	transition: 0.5s;
	text-decoration: none;
	font-weight: bolder;
	font-family: "Ubuntu";
}
.hz-navbar-brand-topped {
	font-size: 1.5625rem;
	color: rgb(230, 240, 255);
	background-color: transparent;
	position: fixed; /* Stay in place */
	margin-top: 10px;
	left: 25px;
	z-index: 2;
	transition: 0.5s;
	text-decoration: none;
	font-weight: bolder;
	font-family: "Ubuntu";
}
.hz-nvlink {
	text-decoration: none;
	margin: 2px;
	color: rgb(220, 230, 235);
	background-color: transparent;
}
.hz-nvlink:focus ,.hz-nvlink:active  {
	text-decoration: none;
	margin: 2px;
	color: rgb(220, 230, 235);
	background-color: transparent;
}
.hz-navbar-toggle {
	background-color: transparent;
	color: white;
	position: fixed; /* Stay in place */
	margin-top: 8px;
	right: 25px;
	z-index: 2;
}
.hz-navbar-toggle:hover {
	transform: scale(1.1);
	transition: 0.2s;
}
.hz-navbar-chevron-animated {
	transform: rotateX(180deg);
	transition: 0.6s;
}
.hz-navbar-chevron {
	transform: rotateX(0deg);
	transition: 0.6s;
}
.hz-navbar-agroup {
	display: flex;
	flex-direction: row;
	z-index: 2;
	width: fit-content;
	right: 75px;
	position: fixed;
}
.hz-navbar-agroup-link {
	font-family: "Roboto light";
	width: 85px;
	flex: 50%;
	text-align: center;
	margin: 0px 3px 0px 3px;
	padding-top: 14px;
	height: 31px;
	text-decoration: none;
	color: rgb(230, 240, 255);
	font-size: 1rem;
}
.hz-navbar-agroup-link-scrolled {
	overflow: hidden;
	font-family: "Roboto light";
	width: 20px;
	flex: 50%;
	text-align: center;
	margin: 0px 25px 0px 5px;
	padding-top: 14px;
	padding-bottom: 12px;
	height: 20px;
	text-decoration: none;
	color: rgb(230, 240, 255);
	font-size: 1rem;
	transition: 0.8s;
}
.hz-navbar-agroup-link-scrolled span {
	visibility: hidden;
}
/* if width less than 600px */
@media (max-width: 600px) {
  .hz-navbar-collapse {
  		font-size: 2.5vh;
  		display: flex;
        flex-direction: column;
        margin-top: 55px;
	}
	.hz-navbar-brand , .hz-navbar-brand-topped {
		left: 10px;
	}
	.hz-navbar-toggle {
		right: 5px;
	}
	.hz-navbar-agroup {
		right: 45px;
	}
	.hz-navbar-agroup-link  {
		margin: 0px 1px 0px 1px;
		padding-top: 16px;
		width: 70px;
		font-size: 0.8rem;
	}
	.hz-navbar-agroup-link-scrolled  {
		margin: 0px 20px 0px 5px;
	}
}
/* NAV */


/* CONTENT */
.hz-content-aboutme-nametag {
	margin-left: 30px;
	transition: 1.5s;
	transform: unset;
}
.hz-content-aboutme-nametag-hidden {
	transform: translateY(30px);
	margin-left: 30px;
}
.hz-content-footer{
	display: flex;
	font-family: "Roboto light";
	color: rgb(180,180,180);
	font-size: 0.9rem;
}
.hz-content-projects-title {
	font-size: 3rem;
	font-family: 'Roboto Mono', sans-serif;
	font-weight: bolder;
	margin-left: 40px;
}
.hz-content-programminng-title {
	margin-top: -1rem;
	margin-left: -2rem;
	font-size: 2.3rem;
	font-family: 'Inter', sans-serif;
	color: rgba(150,230,255,1);
}
.hz-content-programminng-web-title {
	font-size: 1.7rem;
	font-family: 'Roboto Mono', sans-serif;
	color: rgba(135,255,200,1)
}
.hz-content-text {
	font-family: 'Cantarell', sans-serif;
	color: rgba(200,200,205,1)
}
.hz-content-intro-message {
	font-family: 'Cantarell', sans-serif;
	color: rgba(200,200,200,1)
}
@media (max-width: 600px) {
	.hz-content-projects-title {
		font-size: 2.7rem;
		margin-left: 20px;
	}
	.hz-content-footer{
		font-size: 0.7rem;
	    flex-direction: column-reverse;
	    align-items: center !important;
	}
	.hz-content-aboutme-nametag {
		margin-left: 0px;
	}
	.hz-content-aboutme-nametag-hidden {
		margin-left: 0px;
	}
	.hz-content-programminng-title {
		margin-top: -0.9rem;
		margin-left: -0.7rem;
		font-size: 2.3rem;
	}
}
/* CONTAINER */




/* Additional Attributes */
.hz-fullcentered {
	display: flex !important;
	align-items: center !important;
}
.hz-transparent {
	background-color: transparent;
	border-style: none;
	outline-style: none;
}	
.hz-unresponsive {
	display: flex;
    flex-direction: none;
}
.hz-light-text {
	font-family: "Roboto light";
}

/* * Attributes */
.hz-card {
	border-radius: 15px;
	padding: 10px 25px 10px 25px;
	background-color: rgba(255,255,255,0.8);
	color: rgb(4,6,9);
	overflow: hidden;
}
.hz-card p {
	font-family: "Roboto";
	font-size: 1.15rem;
}
/* Additional Attributes */






/* Animatinon Attributes */
.hz-slidein {
	transform: unset;
	transition: 1.5s;
}
.hz-slidein-hidden {
	transform: translateY(10px);
	visibility: hidden;
}
@keyframes hz-slideToRight {
	from{
		transform: translateX(-50px);
	}
	to {
		transform: unset;
	}
}
@keyframes hz-slideToLeft {
	from{
		transform: translateX(100px);
	}
	to {
		transform: unset;
	}
}
/* Animatinon Attributes */


/* Shape */
.hz-line {
	position: relative;
	background-color: white;
	margin-left: 6px;
	width: 2px;
	height: 105%;
	bottom: 0;
}
.hz-line-curved {
	background-color: transparent;
	border-width: 2px;
	border-left-color: rgba(150,230,255,1);
	border-top-color: white;
	border-top-style: solid;
	border-left-style: dotted; 
	border-bottom-color: transparent;
	border-right-color: transparent;
	border-radius: 100px 0px 0px 0px;
	margin-top: 65px;
	margin-left: 76px;
	width: calc(10vw);
	height: 95%;
}
.hz-line-curved-tip {
	position: relative;
	height: 10px;
	width: 10px;
	margin-top: 59px;
	background-color: transparent;
	border: 2px solid white;
	border-radius: 50%;
}
.hz-circle {
	position: relative;	
	height: 10px;
	width: 10px;
	background-color: transparent;
	border: 2px solid white;
	border-radius: 50%;
}
.hz-line-ci {
	margin-top: 0px;
	margin-left: 70px;
	margin-right: 60px;
	height: 100%;
	bottom: 0;
}
.hz-hover-underline {
	display: inline-block;
	position: relative;
}
.hz-hover-underline:after {
	width: 0;
	content: "";
	bottom: 0;
	height: 2px;
	background: #fff;
	transition: 0.3s;
	display: block;
	position: absolute;
}
.hz-hover-underline:hover:after {
	width: 100%;
	left: 0;
}
@media (max-width: 600px) {
	.hz-line-curved {
		margin-left: 16px;
		width: 20px;
	}
	.hz-line {
		width: 1px;
	}
	.hz-circle {
		height: 10px;
		width: 10px;

	}
	.hz-line-ci {
		margin-top: 0px;
		margin-left: 10px;
		margin-right: 30px;
	}
}
@media (max-width: 350px) {
	.hz-line-curved {
		height: 93%;
	}
}
/* Shapes */



/* test / samples */
.hz-test-sample-image {
	margin-right: 25px;
	margin-left: -10px;
	background-color: lightyellow;
	border-radius: 5px;
	width: 35vw;
	height: 15vw;
}
@media (max-width: 800px) {
	.hz-test-sample-image {
		width: 70vw;
		height: 30vw;
	}
}


/* Development Layout Preview */
/*.hz-row {
	background-color: yellow;
}
.hz-column {
	background-color: blue;
}
.hz-column-fit {
	background-color: violet;
}
.hz-column-fit-height {
	background-color: skyblue;
}
.hz-row-unresponsive {
	background-color: orange;
}
span {
	background-color: lightgreen;
}*/
