


.H-CtnImgMe:hover {
	transform: scale(102%);
}


.H-CtnSlogan {
	color: rgb(250,80,80);
	font-size: 20px;
}

.hz-cv-scrolldowncehvron {
	color: whitesmoke;
	font-size: 4vh;
	transition: 0.2s;
}
.hz-cv-scrolldowncehvron:hover {
	color: whitesmoke;
	font-size: 5vh;
	transition: 0.2s;
}


/* About Me Image */
.H-CtnImgMe-hid {
	visibility: hidden;
	transform: translateX(-100px);
}
.H-CtnImgMe-shw {
	visibility: visible;
	transform: unset;
	transition: 1s;
}
/******************/



/* Header motto */
.H-CtnMSlogan-hid {
	visibility: hidden;
	transform: translateY(100px);
	font-size: 20px;
}
.H-CtnMSlogan-shw {
	font-size: 20px;
	visibility: visible;
	transform: unset;
	transition: 1.5s;
}
/******************/