


.H-CtnImgMe:hover {
	transform: scale(102%);
}


.H-CtnSlogan {
	color: rgb(250,80,80);
	font-size: 20px;
}



/* About Me Image */
@keyframes CtnImgMe {
	from {
		visibility: hidden;
		transform: translateX(-100px);
	}
	to {
		visibility: visible;
		transform: unset;
	}
}
.H-CtnImgMe-hid {
	visibility: hidden;
}
.H-CtnImgMe-shw {
	visibility: visible;
	animation: CtnImgMe;
	animation-duration: 1s;
	animation-timing-function: ease;
}
/******************/



/* Header motto */
@keyframes CtnMSlogan {
	from {
		visibility: hidden;
		transform: translateY(100px);
	}
	to {
		visibility: visible;
		transform: unset;
	}
}
.H-CtnMSlogan-hid {
	visibility: hidden;
	font-size: 20px;
}
.H-CtnMSlogan-shw {
	font-size: 20px;
	visibility: visible;
	animation: CtnMSlogan;
	animation-duration: 1.5s;
	animation-timing-function: ease;
}
/******************/