.H-Navbar {
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
  	-moz-backdrop-filter: blur(8px);
	background: rgba(32,38,50,0.95);
}
.H-NvToggle {
	background: transparent;
	font-size: 26px;
	outline: none;
	border: none;
	color: white;
	outline-style: none;
	box-shadow: none;
}
.H-NvToggle:focus,  .H-NvToggle:hover, .H-NvToggle:active  {
	background: transparent;
	font-size: 26px;
	outline: none;
	border: none;
	color: white;
	outline-style: none;
	box-shadow: none;
}
.H-NvLink-head {
	color: rgb(200, 220, 255);
}


/* Navbar Animatinon*/
@keyframes navCol1 {
	from{
		transform: translateX(-100px);
	}
	to {
		transform: unset;
	}
}
.navCol1 {
	position: relative;
	right: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
	animation: navCol1;
	animation-duration: 0.5s;
	animation-timing-function: ease;
}
@keyframes navCol2 {
	from{
		transform: translateX(100px);
	}
	to {
		transform: unset;
	}
}
.navCol2 {
	position: relative;
	left: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
	animation: navCol2;
	animation-duration: 0.5s;
	animation-timing-function: ease;
}
/* Navbar Animatinon*/
