.H-Navbar {
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
  	-moz-backdrop-filter: blur(8px);
	background: rgba(35,40,60,0.95);
}
.H-NvToggle {
	background: rgba(35,40,60,0.95);
	outline: none;
	border: none;
	color: white;
}
.H-NvToggle:focus,  .H-NvToggle:hover, .H-NvToggle:active  {
	background: rgba(35,40,60,0.95);
	outline: none;
	border: none;
	color: white;
	outline-style: none;
	box-shadow: none;
}
.H-NvBrand {
	color: rgb(240, 250, 255);
}
.H-NvLink {
	color: rgb(220, 230, 235);
}
.H-NvLink-head {
	color: rgb(200, 220, 255);
}


/* Navbar Animatinon*/
@keyframes navCol1 {
	from{
		transform: translateX(-100px);
	}
	to {
		transform: unset;
	}
}
.navCol1 {
	position: relative;
	right: 0px;
	animation: navCol1;
	animation-duration: 0.5s;
	animation-timing-function: ease;
}
@keyframes navCol2 {
	from{
		transform: translateX(100px);
	}
	to {
		transform: unset;
	}
}
.navCol2 {
	position: relative;
	left: 0px;
	animation: navCol2;
	animation-duration: 0.5s;
	animation-timing-function: ease;
}
/* Navbar Animatinon*/


/* bootstrap overwrite */
.navbar-toggler , .navbar-toggler:hover , .navbar-toggler:focus,  .navbar-toggler:active{
	border: none;
	outline: none;
	box-shadow: none;
}
/* bootstrap overwrite */